<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Add User</h4>
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="onSubmit(formGroup.value)" [formGroup]="formGroup">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Username" [(ngModel)]="userDetails.username" formControlName="name">

                                    </mat-form-field>
                                    <div class="alert-danger"
                                         *ngIf="formGroup.get('name').errors && (formGroup.get('name').dirty || formGroup.get('name').touched)">
                                        <span *ngIf="formGroup.get('name').errors.required">Name is required</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Email address" [(ngModel)]="userDetails.email" type="email" formControlName="email">
                                    </mat-form-field>
                                    <div class="alert-danger"
                                         *ngIf="formGroup.get('email').errors && (formGroup.get('email').dirty || formGroup.get('email').touched)">
                                        <span *ngIf="formGroup.get('email').errors.required">Email is required</span>
                                        <span *ngIf="formGroup.get('email').errors.email">Enter valid email</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="showPwd">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Password" [(ngModel)]="userDetails.password" type="password" formControlName="password">
                                    </mat-form-field>
                                    <div class="alert-danger"
                                         *ngIf="formGroup.get('password').errors && (formGroup.get('password').dirty || formGroup.get('password').touched)">
                                        <span *ngIf="formGroup.get('password').errors.required">Password is required</span>
                                    </div>
                                </div>
                            </div>


                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" *ngIf="showPwd">Add User</button>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="updateUser(userDetails)" *ngIf="!showPwd">Update User</button>

                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
